<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Bienvenidxs a MercadoLiebre</title>
    </head>
    <body>
        <header class="cabecera">
            <div class="top-header">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">
                        <input type="text" name="buscar" value="Buscar productos, marcas">
                    </div>
                    <div class="submit">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav>
                <div class="menu">
                    <div>
                        Ofertas
                    </div>
                    <div>
                        Tiendas Oficiales
                    </div>
                    <div>
                        Vender
                    </div>
                    <div>
                        Ayuda
                    </div>
                </div>
                <div class="menu">
                    <div>
                        Creá tu cuenta <i class="far fa-id-card"></i>
                    </div>
                    <div>
                        Ingresá <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div>
                        Mis compras <i class="fas fa-shopping-basket"></i>
                    </div>
                </div>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="Banner de Mercado Liebre">
        </section>
        
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <article>
                    <header>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 6.770
                        </p>
                        <p class="descuentos">
                            40% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Cafetera Moulinex
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 230.000
                        </p>
                        <p class="descuentos">
                            20% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            MacBook Pro 2019
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 70.500
                        </p>
                        <p class="descuentos">
                            10% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Samsung Galaxy S10
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 23.200
                        </p>
                        <p class="descuentos">
                            5% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            SmartTv Samsung 43"
                        </p>
                    </footer>
                </article>
            </section>
            <section>
                <h2>Ofertas</h2>
                <article>
                    <header>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 6.770
                        </p>
                        <p class="descuentos">
                            40% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Cafetera Moulinex
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 230.000
                        </p>
                        <p class="descuentos">
                            20% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            MacBook Pro 2019
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 70.500
                        </p>
                        <p class="descuentos">
                            10% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Samsung Galaxy S10
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 23.200
                        </p>
                        <p class="descuentos">
                            5% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            SmartTv Samsung 43"
                        </p>
                    </footer>
                </article>
            </section>
        </main>
        <footer class="pie-pagina">
            <section class="pago-tarjeta">
                <div class="tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="pago-tarjeta-titulo">
                    Pagá con tarjeta o en efectivo
                </div>
               
                <div class="pago-tarjeta-detalle">
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
            </section>        
            <section class="envio-gratis">
                <div class="envio">
                    <i class="fas fa-gift"></i>
                </div>
                <div class="envio-titulo">
                    Envío gratis desde $ 2.500
                </div>
                <div class="pago-tarjeta-detalle">
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
            </section>
            <section class="seguridad">
                <div class="escudo">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="seguridad-titulo">
                    Seguridad, de principio a fin
                </div>
                <div class="seguridad-detalle">
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre protegid@.
                    </p>
                </div>
            </section>          
            <div class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </div>
        </footer>
    </body>
</html>