<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Bienvenidxs a MercadoLiebre</title>
    </head>
    <body>
        <header class="cabecera">
            <div class="top-header">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">
                        <input type="text" name="buscar" value="Buscar productos, marcas">
                    </div>
                    <div class="submit">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul>
                    <li><a href="#">Creá tu cuenta</a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <img src="/images/img-home-banner.jpg" alt="Banner de Mercado Liebre" width="100%">
        </header>
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <article>
                    <header>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 6.770
                        </p>
                        <p class="descuentos">
                            40% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Cafetera Moulinex
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 230.000
                        </p>
                        <p class="descuentos">
                            20% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            MacBook Pro 2019
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 70.500
                        </p>
                        <p class="descuentos">
                            10% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Samsung Galaxy S10
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 23.200
                        </p>
                        <p class="descuentos">
                            5% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            SmartTv Samsung 43"
                        </p>
                    </footer>
                </article>
            </section>
            <section>
                <h2>Ofertas</h2>
                <article>
                    <header>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 6.770
                        </p>
                        <p class="descuentos">
                            40% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Cafetera Moulinex
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 230.000
                        </p>
                        <p class="descuentos">
                            20% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            MacBook Pro 2019
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 70.500
                        </p>
                        <p class="descuentos">
                            10% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            Samsung Galaxy S10
                        </p>
                    </footer>
                </article>
                <article>
                    <header>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
                    </header>
                    <main>
                        <p class="precios">
                            $ 23.200
                        </p>
                        <p class="descuentos">
                            5% off
                        </p>
                    </main>
                    <footer>
                        <p class="descripciones">
                            SmartTv Samsung 43"
                        </p>
                    </footer>
                </article>
            </section>
        </main>
        <footer>
            <h4>Pagá con tarjeta o en efectivo</h4>

            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!  
            </p>

            <h4>Envío gratis desde $ 2.500</h4>

            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
            </p>

            <h4>Seguridad, de principio a fin</h4>

            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
            </p>

            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
            
        </footer>
    </body>
</html>