/* 
Paleta de colores:
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a; 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ebebeb;
    box-sizing: border-box;
}

/*=========================================================================== */
/* Acá arrancan los estilos del "header"===================================== */
/*=========================================================================== */

header {
    background-color: #EAC926;
}

div.top-header {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
}

div.top-header p {
    width: 90%;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

div.header-first-line {
    display: flex;
    align-items: center;
    width: 84vw;
}

.mercado-liebre-logo,
#search-box {
    width: 50%;
    padding: 5px;
}

div.search-container {
    display: flex;
    font-weight: bold;
    margin-top: 6px;
}

#search-field {
    position: relative;
    width: 100%;
    padding: 12px 9px;
    border-radius: 5px;
    border: none;
    color: #666;
    font-size: 14px;
}

#search-button {
    position: absolute;
    left: 82%;
    padding: 12px 2px 12px 10px;
    color: #666;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.main-navbar {
    display: none;
    content-visibility: hidden;
}

div.burger-menu {
    text-align: center;
    width: 95%;
}

div.burger-menu i{
    background-color: #0044AA;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 20px;
}

section.banner img {
    width: 100%;
}

/*=========================================================================== */
/* Acá arrancan los estilos del "main"======================================= */
/*=========================================================================== */

main {
    margin: auto;
    max-width: 90vw;
}

article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article.product {
    margin-bottom: 10px;
    background-color: white;
}

.imagen-articulo img {
    background-color: white;
    width: 100%;
}

.datos-articulo {
    position: relative;
    margin: 0%;
    padding: 17px 0px 7px 2px;
    background-color: white;
    border: solid 1px #ebebeb;
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    margin: 15px;
    width: 19px;
    height: 19px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -30px;
}

div.descripciones {
    display: none;
    content-visibility: hidden;
}

.precio-descuento {
    display: flex;
}

.descuentos {
    flex-grow: 1;
    color: #39b54a;
}

.precios {
    font-size: 18px;
    margin-left: 15px;
}

.descuentos {
    font-size: 16px;
    margin-left: 15px;
}

form.create-form {
    background-color: #ebebeb;
    padding: 20px 15px;
    text-align: center;
}

div.form-control {
    margin-bottom: 15px;
}

div.form-control input {
    margin-bottom: 5px;
    width: 60%;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

div.form-control button {
    background-color: #0044AA;
    margin-top: 5px;
    padding: 12px;
    width: 62%;
    border-radius: 5px;
    border: none;
    color: white;
}

/*=========================================================================== */
/* Acá arrancan los estilos del "footer"===================================== */
/*=========================================================================== */

footer {
    background-color: white;
    color: #666;
}

section.pago-tarjeta {
    text-align: center;
}

div.tarjeta i{
    color: #0044AA;
    border-radius: 5px;
    font-size: 25px;
    height: 20px;
    width: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

div.pago-tarjeta-titulo {
    font-weight: bold;
}

div.pago-tarjeta-detalle p {
    /* margin: top right bottom left */
    margin: 0px 55px 20px 55px;
}

section.envio-gratis {
    text-align: center;
}

div.envio i{
    color: #0044AA;
    border-radius: 5px;
    font-size: 25px;
    height: 20px;
    width: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.envio-titulo {
    font-weight: bold;
}

div.envio-detalle p {
    margin: 0px 55px 20px 55px;
}

section.seguridad {
    text-align: center;
}

div.escudo i{
    color: #0044AA;
    border-radius: 5px;
    font-size: 25px;
    height: 20px;
    width: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.seguridad-titulo {
    font-weight: bold;
}

div.seguridad-detalle p {
    margin: 0px 55px 20px 55px;
}

div.copyright {
    font-size: 12px;
    padding: 15px;
}

/* estilo para resolución "tablet" */
@media (min-width: 481px) {
    
    div.top-header {
        padding: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mercado-liebre-logo {
        width: 360px;
    }

    div.search-container {
        display: flex;
        font-weight: bold;
        margin: 0px 0px 0px 10px;
    }

    #search-field {
        position: initial;
        width: 180px;
        border-radius: 3px;
        border: none;
        color: #666;
        font-size: 12px;
        padding: 0px;
    }

    #search-button {
        position: initial;
        border-radius: 3px;
        margin: 0px 0px 0px 5px;
        color: black;
        border: solid black 1px;
        font-size: 14px;
        padding: 0px;
    }

    div.top-header p {
        font-size: 14px;
    }
       
    div.burger-menu {
        display: none;
        content-visibility: hidden;
    }

    nav.main-navbar {
        display: flex;
        content-visibility: visible;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
    }

    nav.main-navbar a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 15px 0px;
        font-size: 16px;    
    }

    nav.main-navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav.main-navbar li {
        margin: 0px 10px;   
    }   
    
    div.tablet-arrange {
        display: flex;
        justify-content: space-between;
    }

    article.product {
        margin-right: 5px;
        margin-left: 5px;
    }

    div.descripciones {
        display: contents;
        content-visibility: visible;
        font-size: 16px;
        font-weight: bold;
        margin: 15px;
    }
}

/* estilo para resolución "desktop" */
@media (min-width: 769px) {

    div.desktop-arrange {
        display: flex;
        justify-content: space-between;
    }
}