<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Este es el Home de la página de Mercado Liebre">
		<meta name="keywords" content="Mercado, Liebre, Digital, House">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
		<link rel="icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.5/mercadolibre/favicon.svg" type="image/png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Bienvenidxs a MercadoLiebre</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="mercado-liebre-logo">
                    <a href="/"><img class="mercado-liebre-logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a>
                </div>
                <form id="search-box" action="#" method="GET">
                    <div class="search-container">
                        <input type="text" id="search-field" name="search-field" placeholder="Buscar productos, marcas" maxlength="120" tabindex="1">
                        <i class="fas fa-search"></i>
                    </div>
                </form>
                <section class="top-header-title">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h3>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h3>
                </section>
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul> 
                <ul class="right-navbar">
                    <li><a href="/registroUsuario">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="/loginUsuario">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>        
        </header>
        <section class="top-banner">
            <img src="/images/img-home-banner.jpg" alt="Banner de Mercado Liebre">
        </section>
        <main>
            <section class="last-seen">
                <div class="section-title">
                    <h2>Basado en tu última visita</h2>
                </div>
                <div class="desktop-arrange">
                    <div class="tablet-arrange">
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 6.770</div>
                                    <div class="descuentos">40% off</div>
                                </div>
                                <div class="product-description">
                                    Cafetera Moulinex
                                </div>
                            </div>
                        </article>
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 230.000</div>
                                    <div class="descuentos">20% off</div>
                                </div>
                                <div class="product-description">
                                    MacBook Pro 2019
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="tablet-arrange">
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 70.500</div>
                                    <div class="descuentos">10% off</div>
                                </div>
                                <div class="product-description">Samsung Galaxy S10</div>
                            </div>
                        </article>
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 23.200</div>
                                    <div class="descuentos">50% off</div>
                                </div>
                                <div class="product-description">SmartTv Samsung 43"</div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>          
            <section class="ofertas">
                <div class="section-title">
                    <h2>Ofertas</h2>
                </div>
                <div class="desktop-arrange">
                    <div class="tablet-arrange">
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 6.770</div>
                                    <div class="descuentos">40% off</div>
                                </div>
                                <div class="product-description">Cafetera Moulinex</div>
                            </div>
                        </article>
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 230.000</div>
                                    <div class="descuentos">20% off</div>
                                </div>
                                <div class="product-description">MacBook Pro 2019</div>
                            </div>
                        </article>
                    </div>
                    <div class="tablet-arrange">
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 70.500</div>
                                    <div class="descuentos">10% off</div>
                                </div>
                                <div class="product-description">Samsung Galaxy S10</div>
                            </div>
                        </article>
                        <article class="product">
                            <div class="imagen-articulo">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de producto">
                            </div>
                            <div class="datos-articulo">
                                <i class="fas fa-truck"></i>
                                <div class="article-pricing">
                                    <div class="precios">$ 23.200</div>
                                    <div class="descuentos">50% off</div>
                                </div>
                                <div class="product-description">SmartTv Samsung 43"</div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-reminders">
                <section class="footer-reminder">
                    <div class="tarjeta">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="pago-tarjeta-titulo">
                        Pagá con tarjeta o en efectivo
                    </div>
                   
                    <div class="reminder-message">
                        <p>
                            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                        </p>
                    </div>
                </section>        
                <section class="footer-reminder">
                    <div class="envio">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="envio-titulo">
                        Envío gratis desde $ 2.500
                    </div>
                    <div class="reminder-message">
                        <p>
                            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                        </p>
                    </div>
                </section>
                <section class="footer-reminder">
                    <div class="escudo">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <div class="seguridad-titulo">
                        Seguridad, de principio a fin
                    </div>
                    <div class="reminder-message">
                        <p>
                            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre protegid@.
                        </p>
                    </div>
                </section>
            </div>          
            <div class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </div>
        </footer>
    </body>
</html>